body{
    margin:0;
}

main{
    margin:10px;
}

.main{
    border: 2px solid black;
}

h1{
    text-align: center;
}

.navigation ul{
    list-style-type: none;
    background-color: gray;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navigation a{
    color:white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    cursor: pointer;
}

/*.navigation a{*/
/*    display: inline-block;*/
/*    padding: 5px;*/
/*}*/

.navigation a:hover{
    background-color: wheat;
}

.navigation li{
    border: 2px solid black;
    float: left;
}

.navigation {
    border: 3px solid bisque;
}

.footer{
    border: 10px solid black;
}

.email{
    text-decoration: none;
}

.end{
    margin: 0;
    border: 2px solid black;
}
.Para{
    border: 2px solid black;
}
#login{
    /*padding-left: 105px;*/
    float:right;
}
#date{
    color: gray;
    font-weight: bold;
    font-size: 15px;
    float:right;
}